body {
  font-family: 'Segoe UI', sans-serif;
  background:
  linear-gradient(rgba(114, 116, 119, 0.8), rgba(46, 50, 54, 0.8)), 
   url('src/background2.jpg') no-repeat center/cover;
  background-attachment: fixed;
  color: #ffffff;
}

    .navbar {
      background-color: #0d1b2a;
    }
    .navbar-brand, .nav-link {
      color: #fff !important;
      transition: 0.3s;
    }
    .nav-link:hover {
      color: #e0e1dd !important;
    }
.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(13,27,42,0.8), rgba(13,27,42,0.8)), 
              url('src/background.jpg') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
    .hero h1 {
      font-size: 3rem;
      font-weight: 700;
    }
    .hero p {
      font-size: 1.2rem;
      color: #e0e1dd;
    }
    .section-title {
      font-weight: 600;
      margin-bottom: 2rem;
      text-align: center;
      color: #f1f1f1;
    }
.card {
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
  transition: scale 0.4s ease;
}

.card:hover .card-img-top {
  scale: 1.05;
}

.card-title {
  font-weight: 600;
}

.card-text {
  opacity: 0.8;
}
    footer {
      background-color: #0d1b2a;
      color: #e0e1dd;
      padding: 20px 0;
      text-align: center;
    }
